p {
		font-family: Arial;
		margin-bottom: 0px;
		margin-top: 0px;
  }

  .price {
		font-size: 35px;
		margin-bottom: 5px;
  }

	.currency {
		color: rgb(99, 99, 99);
		font-size: 20px;
		margin-left: 2px;
	}

	.change {
		color: green;
		font-size: 19px;
		margin-bottom: 8px;
	}

	.after-hour {
		color: rgb(99, 99, 99);
		font-size: 18px;
	}

	.after-change {
		color: rgb(205, 33, 3);
	}